<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855422400629-acvdjjkqf8kqa0r13ohisbh0nnhgk952.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855422400629-acvdjjkqf8kqa0r13ohisbh0nnhgk952</string>
	<key>API_KEY</key>
	<string>AIzaSyA9HpJdr2CoLEpuRdDre_KnFCsqp36WpNM</string>
	<key>GCM_SENDER_ID</key>
	<string>855422400629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ada</string>
	<key>PROJECT_ID</key>
	<string>pumped-70d70</string>
	<key>STORAGE_BUCKET</key>
	<string>pumped-70d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855422400629:ios:a0777daafdeccf30c4e03c</string>
	<key>DATABASE_URL</key>
	<string>https://pumped-70d70.firebaseio.com</string>
</dict>
</plist>